<div class="h-20 bg-[#1E3A73] navbar navbar-glass justify-center">

	<div class="max-wrapper">



		<div class="navbar-start">
			<a class="text-3xl navbar-item text-[#FFA400] font-pokeSolid">Pokedex</a>
		</div>


		<div class="navbar-end">

			<a class="navbar-item">Home </a>

			<input id="checkbox2" type="checkbox" >
			<label class="toggle toggle2" for="checkbox2">
				<div id="bar4" class="bars"></div>
				<div id="bar5" class="bars"></div>
				<div id="bar6" class="bars"></div>
			</label>

		</div>

	</div>

</div>