<div class="transition-all duration-300 cursor-pointer card card-image-cover w-72 hover:-translate-y-1 hover:scale-105">
  <!-- <img src="https://source.unsplash.com/random/300x200" alt="" /> -->
  <div class="card-body">
    <h2 class="card-header">{{pokeData.name}}</h2>

    @if (isLoading) {
      <div class="loader"></div>
 
    } @else {
      <div class="flex items-center justify-center w-20 h-20 rounded-full">
        @if (imageLoaded) {
          <img [src]="'/imgs/pokemons/' + pokemonData.name + '.gif'" 
               (load)="imageLoaded = true"
               (error)="imageLoaded = false"
               alt="{{pokemonData.name}}"
               class="object-contain w-full h-full">
        } @else {
          <span class="text-sm text-gray-400">{{pokemonData.name | slice:0:3}}</span>
          <img src="{{pokemonData.sprites.front_default}}" alt="{{pokemonData.name}}">
        }
      </div>
    }


    
  </div>


</div>