<aside class="justify-start h-full sidebar">
	<section class="items-center p-4 sidebar-title">
	<img class="glow-pokeball" src="/svgs/glow-pokeball.svg" alt="">
		<div class="flex flex-col">
			<span>Pokedex</span>
			<span class="text-xs font-normal text-content2">Navigation</span>
		</div>
	</section>
	<section class="sidebar-content h-fit min-h-[20rem] overflow-visible">
		<nav class="rounded-md menu">
			<section class="px-4 menu-section">
				<span class="menu-title">Main menu</span>
				<ul class="menu-items">
					<li class="menu-item">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
							<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
						</svg>
						<span>All</span>
					</li>

					<li class="menu-item menu-active">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
						</svg>
						<span>My Favorites</span>
					</li>
					<li class="menu-item">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
						</svg>
						<span>Regionen</span>
					</li>




					<li>
						<input type="checkbox" id="menu-1" class="menu-toggle" />
						<label class="justify-between menu-item" for="menu-1">
							<div class="flex gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
								</svg>
								<span>All Types</span>
							</div>

							<span class="menu-icon">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
									<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
								</svg>
							</span>
						</label>

						<div class="menu-item-collapse">
							<div class="min-h-0">
								<label class="ml-6 menu-item-disabled menu-item">All Types</label>
								<label class="ml-6 menu-item">Normal</label>
								<label class="ml-6 menu-item">Fire</label>
								<label class="ml-6 menu-item">Water</label>
								<label class="ml-6 menu-item">Electric</label>
								<label class="ml-6 menu-item">Grass</label>
								<label class="ml-6 menu-item">Ice</label>
								<label class="ml-6 menu-item">Fighting</label>
								<label class="ml-6 menu-item">Poison</label>
								<label class="ml-6 menu-item">Ground</label>
								<label class="ml-6 menu-item">Flying</label>
								<label class="ml-6 menu-item">Psychic</label>
								<label class="ml-6 menu-item">Bug</label>
								<label class="ml-6 menu-item">Rock</label>
								<label class="ml-6 menu-item">Ghost</label>
								<label class="ml-6 menu-item">Dragon</label>
								<label class="ml-6 menu-item">Dark</label>
								<label class="ml-6 menu-item">Steel</label>
								<label class="ml-6 menu-item">Fairy</label>
							</div>
						</div>
					</li>



					<li>
						<input type="checkbox" id="menu-2" class="menu-toggle" />
						<label class="justify-between menu-item" for="menu-2">
							<div class="flex gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
								</svg>
								<span>All Generation</span>
							</div>

							<span class="menu-icon">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
									<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
								</svg>
							</span>
						</label>

						<div class="menu-item-collapse">
							<div class="min-h-0">
								<label class="ml-6 menu-item-disabled menu-item">All Generation</label>
								<label class="ml-6 menu-item">1. Gen</label>
								<label class="ml-6 menu-item">2. Gen</label>
								<label class="ml-6 menu-item">3. Gen</label>
								<label class="ml-6 menu-item">4. Gen</label>
								<label class="ml-6 menu-item">5. Gen</label>
								<label class="ml-6 menu-item">6. Gen</label>
								<label class="ml-6 menu-item">7. Gen</label>
								<label class="ml-6 menu-item">8. Gen</label>
								<label class="ml-6 menu-item">9. Gen</label>
							</div>
						</div>
					</li>





				</ul>
			</section>
		</nav>
	</section>
	<section class="justify-end h-full pt-2 sidebar-footer bg-gray-2">
		<div class="my-0 divider"></div>
		<div class="z-50 flex w-full cursor-pointer dropdown h-fit hover:bg-gray-4">
			<label class="flex w-full p-0 mx-2 cursor-pointer whites h-fit hover:bg-gray-4" tabindex="0">
				<div class="flex flex-row gap-4 p-4">
					<div class="avatar avatar-md">
						<img src="https://i.pravatar.cc/150?img=30" alt="avatar" />
					</div>

					<div class="flex flex-col">
						<span>Sandra Marx</span>
						<span class="text-xs font-normal text-content2">sandra</span>
					</div>
				</div>
			</label>
			<div class="ml-2 dropdown-menu dropdown-menu-right-top">
				<a class="text-sm dropdown-item">Profile</a>
				<a tabindex="-1" class="text-sm dropdown-item">Account settings</a>
				<a tabindex="-1" class="text-sm dropdown-item">Change email</a>
				<a tabindex="-1" class="text-sm dropdown-item">Subscriptions</a>
				<a tabindex="-1" class="text-sm dropdown-item">Change password</a>
				<a tabindex="-1" class="text-sm dropdown-item">Refer a friend</a>
				<a tabindex="-1" class="text-sm dropdown-item">Settings</a>
			</div>
		</div>
	</section>
</aside>